################
# python
################
*.python-version
*.pyc

################
# pip
################
*.egg
*.eggs
*.egg-info

################
# Qt
################
*.pyproject*

################
# SQL
################
*.sql

################
# VS Code
################
.vscode

################
# Testing
################
.pytest_cache/
.tox/
__pycache__/

################
# MacOS
################
.DS_Store